.search{
	margin-top: 48px;
	form{
		display: block;
   		margin: 0 auto;
	}	

	.search_form{
		display: flex;
		align-items: center;
		width: 925px;
		height: 64px;
		border-radius: 23px;
		box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.08);
	}
	.search_form .search__main_input{
		border:none;
		margin-left: 10px;
		padding: 22px  280px  20px 20px;
		font-size: 16px;
		color: $search-color;	

	}
	.search_form .search__select_main{
		border:none;
		color: $search-color;
		font-size: 16px;
		padding: 22px  50px  20px 22px;
		margin-right: 20px;

	}

	.search_form .search__main_btn{
		display: flex;
		justify-content: center;
		align-items: center;
		background: $main-color;
		font-size: 20px;
		color:white;
		border:none;
		width: 100%;
		height: 100%;
		border-radius: 23px;
	}

}

